*{
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.block1 a{
    text-decoration: none;
}
.block1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
.block2{
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    right: 120px;
}
.block2 img{
    margin-top: 20px;
    width: 30px;
    height: 30px;
}
.block5{
    background-color: rgb(133, 8, 133);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
}
.block6{
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    border: none;
}
.block6 img{
    display: none;
}
.left p{
    /* text-align: center; */
}
.main1{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 20px;
}
.main2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left2 button{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: #8F7EDC;
    margin-top: 50px;
    margin-left: 70px;
    color: white;
}
.main3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.left2 button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;

}
.right2 img{
    width: 400px;
    position: relative;
    bottom: 30px;
}
.main4{
    display: flex;
    width: 700px;
    height: 200px;
    background-color: #6B5581;
    margin-left: 300px;
    margin-top: 100px;
    border-radius: 20px;
}
.left3{
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    font-family: sans-serif;
    font-size: 20px;
}
.right3{
    display: flex;
}
.right3 img{
    width: 50px;
    height: 50px;
    padding-top: 100px;
    padding-left: 20px;
}
.main5{
    background-color: #8F7EDC;
    width: 100%;
    height: 300px;
    padding-top: 100px;
    margin-top: 100px;
    padding-left: 100px;
    display: flex;
    align-items: center;
}
.left4 h1{
    color: white;
}
.left4 p{
    color: white;
    padding-top: 50px;
}
.right4{
    color: white;
    margin-left: 300px;
    padding-right: 300px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}
.nav1{
    padding-top: 100px;
}
@media (max-width:412px) {
    .block1 a{
        display: none;
    }
    .block2 img{
        display: none;
    }
    .main{
        padding: 5px 15px;
    }
    .block2{
        position: relative;
        right: 5px;
    }
    .block6 h1{
        display: none;
    }
    .block6 img{
        display: inline;
        height: 20px;
        width: 20px;
    }
    .block6{
        width: 50px;
        height: 50px;
    }

}
